<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<input placeholder="조회 할 id 입력" class="user-id" type="text">
<button class="search-button" type="button">조회</button>

<div class="result-container">

</div>
<script >
  window.onload = () => {
      addSearchButtonEvent();
  }

  function addSearchButtonEvent() {
    const searchButton = document.querySelector('.search-button');
    searchButton.onclick = () => {
      search();
    }
  }

  function search() {
    const userId = document.querySelector('.user-id').value;
    const request = {
      type: 'get',
      url: 'http://localhost:8080/api/user/' + userId,
      dataType: 'json',
      success: response => {
        const resultContainer = document.querySelector('.result-container');
        resultContainer.innerHTML = `
            <div>username : ${response.data.username}</div>
            <div>password : ${response.data.password}</div>
            <div>name : ${response.data.name}</div>
            <div>email : ${response.data.email}</div>
        `;
      },
      error: error => {
        alert(error.responseJSON.message);
      }
    }
    $.ajax(request);
  }
</script>
</body>
</html>